.app
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 1rem

    & .select
        width: 50%
        margin-bottom: 1rem

    & .contributors-card
        padding: 1rem
        border: 1px solid whitesmoke
        border-radius: .5rem
        width: 95%

        & .space
            display: flex
            justify-content: space-around
            row-gap: 1rem
            flex-flow: row wrap

            & .contributor-avatar
                width: 100%

